.gallery {
  &-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -40px;
  }

  &-item {
    width: 200px;
    height: 200px;
    box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.25);
    margin: 40px;
    background-image: url("../assets/logosnocolor.jpg");
    background-size: cover;

    &:hover {
      box-shadow: 3px 8px 10px 0 rgba(0, 0, 0, 0.2);
    }

    transition: box-shadow 0.2s;
  }
}
