@import "reset";
@import "animation";
@import "typography";
@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p:400,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,800&display=swap");
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../assets/BG.jpg");
  background-size: cover;
  background-position-x: right;
}

* {
  color: unset;
  text-decoration: none;
  font-family: "M PLUS 1p", "Noto Sans TC", sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0px 80px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .container {
    margin: 0px 40px;
  }
}

@media (max-width: 360px) {
  .container {
    margin: 0px 8px;
  }
}


