p {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.45em;
}

h3 {
  font-size: 24px;
  margin-bottom: 50px;
  line-height: 1.5;
  letter-spacing: 40px;
  font-weight: normal;
}

h1 {
  font-size: 120px;
  font-weight: 900;
  line-height: 130px;
  font-weight: 800;
  margin-bottom: 50px;
}

hr{
  margin-top: 128px;
  border: solid 1px #888;
}

@media (max-width: 600px) {
  h3 {
    letter-spacing: 1em;
  }

  h1 {
    font-size: 70px;
    line-height: 80px;
  }
}
