// basic font setting
* {
  color: unset;
  text-decoration: none;
  font-family: "M PLUS 1p", "Noto Sans TC", sans-serif;
  box-sizing: border-box;
}

p {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.45em;
  margin: 10px 0px;
}

h1 {
  font-size: 120px;
  font-weight: 900;
  line-height: 130px;
  font-weight: 800;
  margin-bottom: 50px;
}

h2 {
  font-size: 64px;
  font-weight: normal;
  letter-spacing: 12.48px;
  color: #222222;
  margin: 0px;
}

h3 {
  font-size: 24px;
  margin-bottom: 50px;
  line-height: 1.5;
  letter-spacing: 40px;
  font-weight: normal;
}

h4 {
  font-size: 24px;
  color: #444;
  font-weight: normal;
  letter-spacing: 9.6px;
  line-height: 1;
  margin: 24px 0px;
}

hr {
  margin-top: 128px;
  border: solid 1px #888;
}

@media (max-width: 800px) {
  p {
    font-size: 16px;
    letter-spacing: 5px;
    line-height: normal;
  }
  h1 {
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 20px;
  }
  h2{
    font-size: 64px;
    letter-spacing: 12.48px;
  }
  h3 {
    font-size: 16px;
    letter-spacing: 28.8px;
    letter-spacing: 1em;
    margin-bottom: 20px;
  }

  hr {
    margin-top: 40px;
  }
}
